<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884244239092-a5311oe7a4mb2ce5f688nu2taickhiv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884244239092-a5311oe7a4mb2ce5f688nu2taickhiv9</string>
	<key>API_KEY</key>
	<string>AIzaSyD-nRRs_FVyUYsd_n7tilm1hwizNxnj_yY</string>
	<key>GCM_SENDER_ID</key>
	<string>884244239092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apicalltutorial</string>
	<key>PROJECT_ID</key>
	<string>apicalltrials</string>
	<key>STORAGE_BUCKET</key>
	<string>apicalltrials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884244239092:ios:5c9856dcb13ade782944a1</string>
</dict>
</plist>